@tailwind components;

@layer components {
    .userinfo {
        @apply w-full ;

        td {
            @apply pb-4;
        }


        td:first-child {
            width: 20%;
        }

        input {
            @apply rounded-lg p-2
        }

    }
}

.order_item {
    margin-top: 0.5rem;

    td, th {
        text-align: left;
        padding: 0 .5rem;
    }
}

.order_detail {
    border-collapse: collapse;

    td, th {
        border: 1px solid silver;
        padding: 0 .5rem;
    }
}