@tailwind components;

@layer components {
    .product-table {

        tr {
            @apply border border-gray-400;
        }

        td, th {
            padding: .5rem;

            &:first-child {
                @apply rounded-l-lg;
            }
        }
    }

    .order-table {
        @apply border-separate border-spacing-2 w-full;
        tr {
            td:last-child {
                text-align: end;
            }
        }
    }
}